@page

@{
}

<link rel="stylesheet" href="assets/styles/pages/signup.css" asp-append-version="true" />
<div class="signup">
    <div class="background"></div>
    <div class="content">
        <img src="assets/images/logo.svg" />
        <form class="form">
            <h1>Create your account</h1>
            <div class="input-container">
                <img src="assets/icons/feather/user.svg" />
                <input class="input input-user" type="text" placeholder="Name" />
            </div>
            <div class="input-container">
                <img src="assets/icons/feather/mail.svg" />
                <input class="input input-email" type="text" placeholder="E-mail" />
            </div>
            <div class="input-container">
                <img src="assets/icons/feather/lock.svg" />
                <input class="input input-password" type="password" placeholder="Senha" />
            </div>
            <button id="userPassword" type="button" class="btn btn-login">Register</button>
            <a href="/">Back to login</a>
        </form>
    </div>
</div>

<script src="assets/scripts/pages/signup.js"></script>