.calendar {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;

    .container-calendar {
        padding: 15px;
        max-width: 475px;
        margin: 0 auto;
        overflow: auto;
    }

    .calendar-detail {
        display: flex;
        justify-content: space-between;

        h3 {
        }

        button {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            display: inline-block;
            zoom: 1;
            background: #28262e;
            color: #fff;
            border: 1px solid #28262e;
            border-radius: 4px;
            padding: 5px 50px;
        }
    }


    .table-calendar {
        border-collapse: collapse;
        width: 100%;
    }

    .table-calendar td, .table-calendar th {
        padding: 0.8rem;
        border: 1px solid #e2e2e2;
        text-align: center;
        vertical-align: top;
        font-size: 1.2rem;

        &:hover {
            background-color: #28262e;
            cursor: pointer;
        }
    }

    .date-picker.selected {
        font-weight: bold;
        background-color: #28262e;
        /*        outline: 1px dashed #00BCD4;*/
    }

    .date-picker.selected span {
        border-bottom: 2px solid currentColor;
    }
    /* sunday */
    .date-picker:nth-child(1) {
        /*        color: red;*/
    }
    /* friday */
    .date-picker:nth-child(6) {
        /*        color: green;*/
    }

    #monthAndYear {
        text-align: center;
        margin-top: 0;
    }
}
