@page

@{
}

<link rel="stylesheet" href="assets/styles/pages/signin.css" asp-append-version="true" />
<div class="container">
    <div class="content">
        <img src="assets/images/logo.svg" />
        <form>
            <h1>Faça seu logon</h1>
            <div class="input-container">
                <img src="assets/icons/feather/mail.svg"/>
                <input class="input" placeholder="E-mail" />
            </div>
            <div class="input-container">
                <img src="assets/icons/feather/lock.svg"/>
                <input class="input" placeholder="Senha" />
            </div>
        </form>
    </div>
    <div class="background" />
</div>

<script src="assets/scripts/pages/signin.js"></script>