.btn {
  background: #ff9000;
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #312e38;
  width: 100%;
  font-weight: 500;
  margin-top: 16px;
  transition: background-color 0.2s; }

body, input, button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 1.7; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0; }

body {
  box-sizing: border-box;
  padding: 3rem;
  max-width: 1200px;
  -webkit-font-smoothing: antialiased; }

button {
  cursor: pointer; }
