.btn {
  background: #ff9000;
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #312e38;
  width: 100%;
  font-weight: 500;
  margin-top: 16px;
  transition: background-color 0.2s; }
  .btn:hover {
    opacity: 0.8; }

.input-container {
  background: #232129;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #666360;
  border: 2px solid #232129;
  position: relative; }
  .input-container + div {
    margin-top: 8px; }
  .input-container:hover {
    border-color: #ff9000; }
  .input-container:focus-within {
    border-color: #ff9000; }
  .input-container input {
    flex: 1;
    border: 0;
    color: #f4ede8;
    background: transparent; }
    .input-container input::placeholder {
      color: #666360; }
  .input-container img {
    background-color: transparent;
    margin-right: 16px; }

.input-focused {
  border-color: #ff9000; }

body, input, button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 1.7; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0; }

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

button {
  cursor: pointer; }
