.input-container {
  background: #232129;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #666360;
  border: 2px solid #232129;
  position: relative; }
  .input-container + div {
    margin-top: 8px; }
  .input-container:hover {
    border-color: #ff9000; }
  .input-container:focus-within {
    border-color: #ff9000; }
  .input-container input {
    flex: 1;
    border: 0;
    color: #f4ede8;
    background: transparent; }
    .input-container input::placeholder {
      color: #666360; }
  .input-container img {
    background-color: transparent;
    margin-right: 16px; }
