@model List<GoBarber.Web.ViewModels.Appointment.AppointmentViewModel>

<link rel="stylesheet" href="assets/styles/components/appointment.css" asp-append-version="true" />

<div class="appointments">
    <div class="appointment-content">
        @foreach (var appointment in @Model)
        {
            <p>
                @appointment.User.Name
            </p>
        }
    </div>
</div>

<script src="assets/scripts/components/appointment.js" asp-append-version="true"></script>