@model List<GoBarber.Web.ViewModels.Appointment.AppointmentViewModel>

<div class="appointment">
    <div class="appointment-content">
        @foreach (var appointment in @Model)
        {
            <div class="appointment-item">
                @appointment.User.Name
            </div>
        }
    </div>
</div>

<script src="~/assets/scripts/components/appointment.js" asp-append-version="true"></script>
