@model List<GoBarber.Web.ViewModels.Appointment.AppointmentViewModel>

@section PageStyle {
    <link rel="stylesheet" href="~/assets/styles/components/appointment.css" asp-append-version="true" />
}

@section PageScript {
    <script src="~/assets/scripts/components/appointment.js" asp-append-version="true"></script>
}

<div class="appointments">
    <div class="appointment-content">
        @foreach (var appointment in @Model)
        {
            <p>
                @appointment.User.Name
            </p>
        }
    </div>
</div>


