@model List<GoBarber.Web.ViewModels.Appointment.AppointmentViewModel>

<div class="appointment">
    <div class="appointment-container">
        @foreach (var appointment in @Model)
        {
            <div class="appointment">
                <div class="appointment-content">
                    <img src="@appointment.User.Avatar" />
                    <div class="appointment-detail">
                        <p>@appointment.User.Name</p>
                        <p>@appointment.Date</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/assets/scripts/components/appointment.js" asp-append-version="true"></script>
