<div class="calendar">
    <div class="container-calendar">
          <h3 id="monthAndYear"></h3>
          @*<div class="button-container-calendar">
              <button id="previous" class="btn-previous" onclick="previous()">&#8249;</button>
              <button id="next" class="btn-next" onclick="next()">&#8250;</button>
          </div>*@
          
          <table class="table-calendar" id="calendar" data-lang="en">
              <thead id="thead-month"></thead>
              <tbody id="calendar-body"></tbody>
          </table>
      </div>
</div>


<script src="~/assets/scripts/components/calendar.js" asp-append-version="true"></script>
