.signup {
  height: 100vh;
  display: flex;
  background-color: #312e38;
  overflow: hidden; }
  .signup .background {
    flex: 1;
    background: url(../../images/sign-up-background.png) no-repeat center;
    background-size: cover; }
  .signup .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    animation: slide 0.5s forwards; }
    .signup .content form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 350px;
      text-align: center; }
      .signup .content form h1 {
        margin-bottom: 24px;
        width: 375px;
        color: #f4ede8; }
      .signup .content form a {
        color: #f4ede8;
        display: block;
        margin-top: 24px;
        text-decoration: none;
        transition: color 0.2s; }
        .signup .content form a:hover {
          opacity: 0.8; }
      .signup .content form .btn-login {
        width: 383px; }

@-webkit-keyframes slide {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
