@{
    ViewData["Title"] = "Sign In";
}


@section PageStyle {
    <link rel="stylesheet" href="assets/styles/scss/pages/signin.css" asp-append-version="true" />
}

<div class="signin">
    <div class="content">
        <img src="assets/images/logo.svg" />
        <form class="form" autocomplete="off">
            <h1>Login</h1>
            <div class="input-container">
                <img src="assets/icons/feather/mail.svg" />
                <input class="input input-email" type="text" placeholder="E-mail" autocomplete="off" />
            </div>
            <div class="input-container">
                <img src="assets/icons/feather/lock.svg" />
                <input class="input input-password" type="password" placeholder="Senha" autocomplete="off" />
            </div>
            <button id="userPassword" type="button" class="btn btn-login">Signin</button>
            <a href="">Forget my password</a>
            <a href="/signup">Create new account</a>
        </form>
    </div>
    <div class="background" />
</div>

@section PageScript {
    <script src="assets/scripts/pages/signin.js"></script>
}

