@page

@{

}

<link rel="stylesheet" href="assets/styles/pages/authentication.css" asp-append-version="true" />

<div>
    Authentication
</div>

<script src="assets/scripts/pages/authentication.js"></script>