@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="assets/styles/pages/home.css" asp-append-version="true" />

<div>
    <h1>teste</h1>
   <button class="btn">botao</button>
</div>

<script src="assets/scripts/pages/home.js" asp-append-version="true"></script>
