@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="assets/styles/pages/home.css" asp-append-version="true" />


<div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<script src="assets/scripts/pages/home.js" asp-append-version="true"></script>
