@{
    ViewData["Title"] = "Home Page";
    @model GoBarber.Web.ViewModels.User.UserViewModel;
}

@section PageStyle {
    <link rel="stylesheet" href="assets/styles/pages/home.css" asp-append-version="true" />
}

<section class="home">
    <div class="header">
        <div class="header-content">
            <img src="assets/images/logo.svg" />
            <div class="profile">
                <img src="@Model.Avatar" />
                <div>
                    <span>Olá,</span>
                    @Model.Name
                </div>
            </div>
            <a href="@Url.Action("LogOut","Authentication")">
                <img src="assets/icons/feather/log-out.svg" />
            </a>
        </div>
    </div>

    @await Component.InvokeAsync("AppointmentViewComponent")
    @await Component.InvokeAsync("CalendarViewComponent")
</section>

@section PageScript {
    <script src="assets/scripts/pages/home.js"></script>
}
